.carousel-inner img {
  margin: auto;
}

.gpsss,
.hc2,
.smsc,
.pot {
  object-fit: cover;
  width: 1200px;
  height: 900px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  15% {
    transform: translateY(-60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar-brand {
  animation-name: slideInTop;
  animation-duration: 1.5s;
}

.navbar {
  animation-name: slideInLeft;
  animation-duration: .8s;
}

.carousel {
  animation-name: fadeIn;
  animation-duration: 1s;
}
