h.image_heading{
  padding-top:12px;
  padding-bottom:12px;
  font-size: 18px;
}

img.project{
  padding-top:5px;
  padding-bottom:15px;
}

video{
  padding-top:10px;
  padding-bottom:15px;
}

.site_footer{
  background-color: #4d4d4d;
}
