@import url("/font/stylesheet.css");


h.image_heading{
  padding-top:12px;
  padding-bottom:12px;
  font-size: 18px;
}

/* h2{
  font-family: "bellezaregular";
} */

img.project{
  padding-top:5px;
  padding-bottom:15px;
}

video{
  padding-top:10px;
  padding-bottom:15px;
}

footer.sourcecode{
  background-color: #4d4d4d;
  width:100%;
  position:fixed;
  bottom: 0;
}

.myFoot{
  padding-left: 25px;
  padding-right: 25px;
  text-align: right;
  /* font-size: 12px; */
}

/*_________card properties__________*/
/* @keyframes hover-card {
  0% {transform:translateY(0);}
  100%{transform:translateY(-10px);}
} */

img.mycard{
  height: 200px;
  object-fit: cover;
}
@keyframes cardFadeIn {
  0% {transform: translateY(-20px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}
.card{
  animation-name:cardFadeIn;
  animation-duration: 1s;
  background-color: #ECF0F1;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
}
.card:hover{
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

/*card dark mode shadow css*/
.card-shadow-dark{
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3) !important;
}
.card-shadow-dark:hover{
  box-shadow: 0 10px 50px 0 rgba(255, 255, 255, 0.5) !important;
}

/*______DARK MODE______*/
.dark{
  color: #ffffff !important;
  background-color: #404040 !important;
}

.dark-body{
  color: #ffffff !important;
  background-color: #262626 !important;
  background-image: linear-gradient(#1a1a1a 0%,#1a1a1a 20%,#262626 100%) !important;
}
/*for nav bar, change navbar-light to navbar-dark and bg-light to bg-primary*/

/*dark mode is buggy on modile so don't show it*/
/* #desktop_darkmode_label {display: block;}
#desktop_darkmode_toggle {display: block;}
@media screen and (max-width: 768px) {
  #desktop_darkmode_label {display: none;}
  #desktop_darkmode_toggle {display: none;}
} */

/*_____________toggle__________*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #95a5a6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1a1a1a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a1a1a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
